$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stack: 'IBM Plex Sans' , sans-serif; 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

nav {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;

    p {
        font-size: 1.5em;
        padding-left: 35px;
    }

    .icons {
        display: flex;
        gap: 15px;
        
        button {
            background: none;
            border-style: none;
            cursor: pointer;
            svg {
                width: 28px;
                height: 28x;
                path {
                    stroke: $primary-text-color
                }
            }
        }
    }
}

main {
    background-color: $primary-color;
}

footer {
    $background: #fa9500;
    background-color: $background;
    width: 100%;
    height: 150px;
}
